$color-naranja: #ef872d;
@font-face {
  font-family: "Third Rail - Demo";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/third-rail.woff2") format("woff2"),
    url("/fonts/third-rail.ttf") format("truetype");
}

@font-face {
  font-family: "Designer";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Designer.woff2") format("woff2"),
    url("/fonts/Designer.otf") format("opentype");
}

@font-face {
  font-family: "Toyota Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/toyota-text.woff2") format("woff2"),
    url("/fonts/toyota-text.ttf") format("truetype");
}

@font-face {
  font-family: "Toyota Display";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/toyota-display.woff2") format("woff2"),
    url("/fonts/toyota-display.ttf") format("truetype");
}

.container-page {
  width: 1194px;
  height: 834px;
  margin: 0 auto;
  position: relative;
}

.color-orange {
  color: $color-naranja;
}

.btn-plus-modal {
  background: linear-gradient(
    42deg,
    rgba(239, 135, 45, 0.79) 0%,
    rgba(239, 135, 45, 0.17) 100%
  );
  border-radius: 10px;
  transform: skew(-25deg);
  padding: 3px 24px;
  box-sizing: border-box;
  cursor: pointer;

  .btn-plus-content {
    display: flex;
    align-items: center;
    gap: 30px;
    transform: skew(25deg);

    .btn-icon-plus {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-plus {
        box-shadow: 0px 10px 28px #3f2610;
        width: 31px;
        height: 31px;
        background: #000;
        border-radius: 9999px;
        border: 1px rgba(255, 255, 255, 0.2) solid;
        opacity: 0.5;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: width 0.3s ease, height 0.3s ease;
        overflow: hidden;
      }
    }

    p {
      color: #fff;
      font-size: 10px;
      font-family: "Designer";
      font-weight: 400;
      line-height: 21px;
    }
  }

  &:hover {
    background: linear-gradient(
      42deg,
      rgb(155 81 17 / 84%) 0%,
      rgb(239 135 45 / 25%) 100%
    );

    .btn-icon-plus {
      .icon-plus {
        width: 40px;
        height: 40px;
        opacity: 1;
      }
    }
  }
}

.page-5 {
  background: url("/images/05/performance.webp") center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .logo-agya {
    position: absolute;
    right: 26px;
    top: 21px;
  }

  .box-title {
    position: absolute;
    top: 68px;
    left: 51px;
    text-align: center;

    p {
      color: #fff;
      font-size: 50px;
      font-family: "Third Rail - Demo";
      font-weight: 400;
      text-transform: lowercase;
      line-height: 65px;
    }

    .box-bg-head {
      display: flex;
      justify-content: center;
      gap: 5px;

      img {
        margin-top: 28px;
      }
    }

    .box-bg-title {
      background-color: $color-naranja;
      border-radius: 10px;
      transform: skew(-27deg);
      padding: 6px 31px;
      position: relative;
      p {
        transform: skew(27deg);
        line-height: 50px;
      }
      .tilde {
        position: absolute;
        left: 358px;
        top: 5px;
      }
    }
  }

  .box-btn-aventura {
    position: absolute;
    top: 66px;
    right: 228px;
  }

  .box-eficiencia {
    position: absolute;
    left: -60px;
    top: 214px;
    width: 548px;

    .box-eficiencia-content {
      text-align: center;
      background: linear-gradient(
        102deg,
        rgba(0, 0, 0, 0.8) 27%,
        rgba(0, 0, 0, 0) 100%
      );
      transform: skew(-25deg);
      padding-top: 17px;
      padding-bottom: 20px;
      padding-left: 42px;
      box-sizing: border-box;
    }

    .box-eficiencia-icon {
      transform: skew(25deg);
      padding-left: 60px;
    }

    .box-eficiencia-title {
      transform: skew(25deg);
      margin-top: -3px;
      margin-left: 86px;

      p {
        color: #fff;
        font-size: 18px;
        font-family: Designer;
        font-weight: 400;
        line-height: 22px;

        &:last-child {
          color: $color-naranja;
          margin-left: -107px;
        }
      }
    }

    .box-eficiencia-desc {
      margin-top: 4px;
      margin-left: 41px;
      p {
        color: #fff;
        font-size: 14px;
        font-family: "Toyota Text";
        font-weight: 400;
        line-height: 16px;
      }
    }
  }

  .box-transmision {
    position: absolute;
    top: 423px;
    left: 0px;

    .box-transmision-div {
      transform: skew(-25deg);
      background: linear-gradient(
        78deg,
        rgba(239, 135, 45, 0.8) 0%,
        rgba(239, 135, 45, 0) 100%
      );
    }

    .box-transmision-content {
      transform: skew(25deg);
      display: flex;
    }

    .box-transmision-icon {
      img {
        margin-top: -29px;
      }
    }

    .box-transmision-text {
      padding-top: 52px;
      padding-bottom: 30px;
      margin-left: -27px;

      h2 {
        color: #fff;
        font-size: 18px;
        font-family: "Designer";
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 5px;

        span {
          color: $color-naranja;
        }
      }

      p {
        color: #fff;
        font-size: 14px;
        font-family: "Toyota Text";
        font-weight: 400;
        line-height: 16px;
        margin-left: -16px;
        transform: skew(-15deg);
      }
    }
  }

  .box-motor {
    position: absolute;
    bottom: 0px;
    left: 125px;

    .box-motor-content {
      position: relative;

      .box-motor-img {
        position: absolute;
        bottom: 0px;
        left: -125px;
        z-index: 1;
      }

      .box-motor-div {
        width: 500px;
        height: 195px;
        position: relative;
        background: linear-gradient(
          97deg,
          rgb(239 135 45 / 59%) 0%,
          rgba(239, 135, 45, 0) 100%
        );
        clip-path: polygon(39% 0%, 99% 0%, 100% 100%, 0% 109%, 5% 24%);
        transform: skew(-25deg);

        .box-motor-text {
          padding-top: 60px;
          padding-left: 169px;

          h2 {
            transform: skew(25deg);
            color: #fff;
            font-size: 18px;
            font-family: "Designer";
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 5px;

            span {
              color: $color-naranja;
            }
          }

          p {
            color: #fff;
            font-size: 14px;
            font-family: "Toyota Text";
            font-weight: 400;
            line-height: 16px;
            margin-left: 6px;
            transform: skew(15deg);
          }
        }
      }
    }
  }

  .box-volante {
    position: absolute;
    right: 0;
    bottom: 30px;
  }

  .box-volante-text {
    position: absolute;
    bottom: 228px;
    right: 51px;

    p {
      color: #fff;
      font-size: 14px;
      font-family: "Toyota Text";
      font-weight: 700;
      line-height: 16px;
      transform: skew(-15deg);
    }
  }
}

/* Estilos para el modal */
.ty-modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  z-index: 1;
  animation: fadein 0.5s;
  opacity: 0;

  &.active {
    display: block;
    opacity: 1;
  }
}

.ty-modal-two {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0;
  z-index: 2;
  width: 100%;
  opacity: 0;
  transform: translateY(-800px);
  transition: transform 0.5s ease, opacity 0.3s ease;

  /* Efecto fade para mostrar el modal */
  &.show-modal {
    display: flex;
    opacity: 1;
    height: 100%;
    transform: translateY(0px);
  }

  .ty-modal-box {
    position: relative;

    .ty-modal-contenido {
      height: 100%;

      .slider-fade {
        width: 869px;
        margin: 0;

        > div {
          width: 869px;
        }
      }

      .ty-cerrar-modal {
        width: 50px;
        height: 50px;
        top: 20px;
        right: 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;
        transform: rotate(45deg);
        opacity: 0.4;
        transition: all;
        z-index: 99;

        .btn-closed {
          box-shadow: 0px 4px 23px #3f2610;
          width: 40px;
          height: 40px;
          cursor: pointer;
          background: #000;
          border-radius: 9999px;
          border: 1.5px rgba(255, 255, 255, 0.2) solid;
          box-sizing: border-box;

          display: flex;
          justify-content: center;
          align-items: center;

          transition: width 0.3s ease, height 0.3s ease;
          overflow: hidden;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        &:hover {
          opacity: 1;

          .btn-closed {
            width: 50px;
            height: 50px;
          }
        }
      }

      .custom-next,
      .custom-prev {
        width: 67px;
        height: 67px;
        top: 45%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        transition: all;
        z-index: 99;

        .btn-arrows {
          box-shadow: 0px 10px 28px #3f2610;
          width: 50px;
          height: 50px;
          cursor: pointer;
          background: #000;
          border-radius: 20px;
          border: 1.5px rgba(255, 255, 255, 0.2) solid;

          display: flex;
          justify-content: center;
          align-items: center;

          transition: width 0.3s ease, height 0.3s ease;
          overflow: hidden;

          &:hover {
            width: 67px;
            height: 67px;
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      .custom-prev {
        left: 50px;

        .btn-prev {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      .custom-next {
        right: 50px;
      }
    }
  }
}
